.top-banner {
    background: #27c383;
    font-size: 14px;
    padding: 8px 0;
    font-weight: 500;
    color: black;
}

.main-nav {
    background-color: #001f54 !important;
}

.sub-link {
    color: #333;
    font-weight: 500;
    text-decoration: none;
}
.sub-link:hover {
    color: #007bff;
}

.hero-section {
    text-align: left !important;
}

.text-navy {
    color: #001f54 !important;
}

.brand-container {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  background: #fff;
}

.brand-slider {
  display: flex;
  gap: 40px;
  animation: slide 18s linear infinite;
}

.brand-slider img {
  height: 45px;
  opacity: 0.8;
  transition: .3s;
}

.brand-slider img:hover {
  opacity: 1;
  transform: translateY(-5px);
}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media (max-width: 576px) {
  .brand-slider { gap: 25px; }
  .brand-slider img { height: 32px; }
}
