/* Top Banner */
.top-banner {
  background: #2ecc71;
  color: white;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
}

/* Navbar Base */
.main-nav {
  background: #092140;
  padding: 14px 0;
}

.nav-link1 {
  color: white;
  margin: 0 12px;
  font-weight: 500;
}
.nav-link1:hover {
  color: #4AD879;
}

/* Center Menu Desktop */
.mid-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Join Button Style */
.join-btn {
  background: #4AD879;
  color: #092140 !important;
  border-radius: 8px;
  padding: 6px 14px;
  font-weight: 600;
}
.join-btn:hover {
  background: #38b66b;
}

/* Cart Style */
.cart-icon {
  font-size: 22px;
  color: white;
}
.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: #4AD879;
  color: #092140;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: 700;
}

/* Mobile  */
@media(max-width: 992px) {
  .mid-menu {
    position: static;
    transform: none;
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .right-menu {
    justify-content: center;
    margin-top: 12px;
    gap: 12px;
  }
}

/* Toggler Border White */
.custom-toggler {
  border-color: white;
}
